<!DOCTYPE html>
<html>
<head>
	<title>CoNote</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

	<link rel="stylesheet" type="text/css" href="/css/html.css">
	<link rel="stylesheet" type="text/css" href="/css/body.css">
	<link rel="stylesheet" type="text/css" href="/css/title.css">

    <script src="/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.js"></script>
</head>
<body>

<h2 class="title">CoNote</h2>
<select class="title">
	<option value="vs">white</option>
	<option value="vs-dark">dark</option>
</select>
<h4>A real-time collaborative javascript editor</h4>
<div id="container" style="width:90%;height:85%;border:1px solid grey"></div>

<script src="/js/editor.js"></script>

</body>
</html>